
body {
    font-family: serif;
    font-weight: bold;
    background-color: #c3cdce27;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.wholeContainer {
    max-width: 800px;
    margin: 50px auto;
    text-align: center;
    background-color:#4ff198b2;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.mini-container {
    display:flex;
    justify-content: space-between;
    justify-items: stretch;
    max-width: 700px;
    margin-bottom: 20px;
}

.current-date, .current-time {
    font-size: 1.2em;
    padding: 10px;
    background-color: #f0954a36;
    border: 1px solid #f3bdbd;
    border-radius: 4px;
    text-align: center;
}

.container {
    
    max-width: 750px;
    max-width: 600px;
    background-color: #ee6fe888;
    padding: 20px;
    border: 1px solid #addf5cc0;
    border-radius: 4px;
    box-shadow: 10px 10px 10px 10px  rgba(0,0,0,0.1);
}

.calendar-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendar-navigation button {
    background-color: #ff48009f;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
}

.calendar-navigation button:hover {
    background-color: #aa7a669f;
}

#currentMonth {
    font-size: 1.2em;
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}

.calendar div {
    background-color: #f4f4f4;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 4px;
}


.calendar .today {
    background-color: #aa7a669f;
    color: #fff;
}

.calendar-day.selected {
    /* Styles for the selected date (other than today) */
    background-color: #aa7a669f; /* Example: Light gray background */
    font-weight: bold; /* Example: Bold font */
    border-color: coral;
}